body {
    /* eliminate preformated spacing */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
    /* background-color: white; */
}

#main {
    width: 100%;
    margin: 0;
    padding: 0;
}
  
container{
    width: 100%;   
    margin: 0;
    padding: 0;
}

/* The bumpers allow for spacing at top and/or bottom */
/* to compensate for phones which have buttons/cameras etc */
/* that block a portion of the screen. */
#bumper-top-container {
    color: black;
}

#bumper-top {
    background-color: black;
    color: black;
}

#bumper-btm-container {
    color: darkorange;
}

#bumper-btm {
    background-color: black;
    color: black;
}


/* **HEADER** */
#testainer {
    width:100vw;
    height: 20vh;
    margin: 0;
    border-bottom: 5px solid black;
}

#header-tainer {
    color: white;
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    z-index: 1;
}

#header-row {
    color: white;
    width: 100%;
}

#logo {
    align-items: center;
    background-color: white;
    color: white;
    border:solid white 10px;
    /* width: 100%; */
    Padding: 20px;

} 

#header-spacer {
    color: white;
    background-color: white;
}

#nav-col {
    background-color: white;
    justify-content: center;
    align-items: baseline;
}

.header-nav {
    color: chocolate;
}

.navbar {
    color: crimson;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    align-items: baseline;
}

.nav-item {
    /* color: #FECC00; */
    color: #84bd00;
    align-items: center;
    justify-content: left;
}

.nav-link {
    color:#84bd00;
    padding: 8px 16px 8px 0px;
    margin: 2px 2px 2px 2px;
}

#navlnk1 {
    margin-top: 15px;
    color:Black;
}

#dropdownMenuButton1 {
    background-color: white;
    border-color: white;
    color: black;
}

#navlnk2 {
    margin-top: 15px;
    color:black;
}

#navlnk3 {
    margin-top: 15px;
    color:black;
}

.dropdown-item::marker{
    border-color: greenyellow;
}



/* **MAIN CONTENT** */
#content-container {
    color: white;
    background-color: black;
    border: solid black 20px;
    border-radius: .75%;
    height: 80vh;
    width: 100vw;
    /* padding: 0px 0px 0px 0px; */
    /* margin: 0em 100em 0em 0em; */

}

#content-row {
    color: white;
    height: 80vh;
    /* margin-right: .5rem; */
}

#splash {
    color: white;
    height: 80vh;
    /* margin-right: 50rem; */
    /* margin: 0px 0px 0px 0px; */
}

#carouselExampleCaptions {
    height: 75vh;
}

#indicator {
    background-color: white;
    border: 1px solid black;
    text-shadow: 0 0 4px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.black-text {
    color: black;
    text-decoration: black;
    font-weight: bold;
    font-size: 2rem;
}

.ltGrey-text {
    color: lightgrey;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-weight: bold;
    font-size: 2rem;
}
.white-text {
    text-shadow: 0 0 1.5px black, 0 0 1.5px black, 0 0 1.5px black, 0 0 1.5px black;
    font-size: 2rem;
}

.carousel-inner {
    height: 75vh;
    object-fit: contain;
    z-index: 1;
}

.carousel-item {
    height: 75vh;
    object-fit: contain;
}

#prev-img {
    height: 75vh;
}

#next-img {
    height: 75vh;
}

#caroImg1{
    height: 75vh;
   object-fit: contain; 
}

#caroImg2{
    height: 75vh;
    object-fit: contain; 
 }
 
 #caroImg3{
    height: 75vh;
    object-fit: contain; 
 }
 
 #caroImg4{
    height: 75vh;
    object-fit: contain; 
 }
 
   
/* **FORM** */
#form-container {
    color: white;
    background-color: white;
    border: solid white 5px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#form-row {
    color: white;
    align-items: center;
    justify-content: center;
}

#form {
    color: white;
}
.form-header {
    color: #84bd00;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    /* color: #36A0FF; */
    color: #FECC00;
}
#fname {
    margin-bottom: 3px;
}

#lname {
    margin-bottom: 3px;
}

#email {
    margin-bottom: 3px;
}

#phone {
    margin-bottom: 3px;
}

#btn-form-submit {
    background-color: #84bd00;
    border-color: #84bd00;
    color: black;
    margin-top: 5px;
}


/* **PRODUCTS** */
#product-container {
    justify-content: center;
    align-self: center;
}



.product-title {
    color: #84bd00;
}

#product-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#product-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#prod-item-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#prod-item-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#prod1-description {
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

#prod2-description {
    background-color: white;
    color: black;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100vw;
}


/* **FOOTER** */
#footer-container {
    background-color: black;
    color: white;
}

#footer-row {
    color: red;
}

#footer-div1 {
    color: #84bd00;
}

#footer-div2 {
    color: #84bd00;
}

#footer-div3 {
    color: White;
}

#footer-div4 {
    color: #84bd00;
}

.footer-ul {
    color: red;
}

.footer-li {
    color: white;
}

#socialMedia {
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
}

#facebook {
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
}

#coName {
    align-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

#address-1 {
    align-content: center;
    color: white;
    list-style-type:none;
    text-align: center;
    justify-content: center;
}

#address-2 {
    align-content: center;
    color: white;
    text-align: center;
    justify-content: center;
}

#contactUs {
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
}

#phone {
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
}

#email {
    align-content: center;
    text-align: center;
    color: white;
    justify-content: center;
}



