body {
    /* eliminate preformated spacing */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
    /* background-color: white; */
}

#main {
    width: 100vw;
    margin: 0px;
}
  
container{
    width: 100vw;   
}

/* The bumpers allow for spacing at top and/or bottom */
/* to compensate for phones which have buttons/cameras etc */
/* that block a portion of the screen. */
#bumper-top-container {
    color: darkorchid;
}
#bumper-top {
    background-color: black;
    color: black;
}

#bumper-btm-container {
    color: darkorange;
}

#bumper-btm {
    background-color: black;
    color: black;
}


/* **HEADER** */
#header-container {
    color: white;
    background-color: white;
    margin: 5px 0px 0px 0px;
    margin-right: 0px;
    width: 100vw;
    padding: 0px;
}

#header-row {
    color: white;
    width: 100vw;
}

#logo {
    align-items: center;
    background-color: white;
    color: white;
    border:solid white 10px;
    /* width: 100%; */
    Padding: 20px;

} 

#header-spacer {
    color: white;
}

#nav-col {
    background-color: white;
    justify-content: center;
    align-items: baseline;
}

.header-nav {
    color: chocolate;
}

.navbar {
    color: crimson;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    align-items: baseline;
}

.nav-item {
    /* color: #FECC00; */
    color: #84bd00;
    align-items: center;
    justify-content: left;
}

.nav-link {
    color:#84bd00;
    padding: 8px 16px 8px 0px;
    margin: 2px 2px 2px 2px;
}

#navlnk1 {
    margin-top: 15px;
    color:Black;
}

#dropdownMenuButton1 {
    background-color: white;
    border-color: white;
    color: black;
}

#navlnk2 {
    margin-top: 15px;
    color:black;
}

#navlnk3 {
    margin-top: 15px;
    color:black;
}

.dropdown-item::marker{
    border-color: greenyellow;
}


/* **MAIN CONTENT** */
#content-container {
    color: white;
    background-color: black;
    border: solid black 20px;
    border-radius: .75%;
    width: 100vw;
    /* padding: 0px 0px 0px 0px; */
    /* margin: 0em 100em 0em 0em; */

}

#content-row {
    color: white;
    margin-right: .5rem;
}

#splash {
    color: white;
    /* margin-right: 50rem; */
    /* margin: 0px 0px 0px 0px; */
}


/* **FORM** */
#form-container {
    color: white;
    background-color: white;
    border: solid white 5px;
    align-items: center;
    justify-content: center;
}

#form-row {
    color: white;
    align-items: center;
    justify-content: center;
}

#form {
    color: white;
}
.form-header {
    color: #84bd00;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    /* color: #36A0FF; */
    color: #FECC00;
}
#fname {
    margin-bottom: 3px;
}

#lname {
    margin-bottom: 3px;
}

#email {
    margin-bottom: 3px;
}

#phone {
    margin-bottom: 3px;
}

#btn-form-submit {
    background-color: #84bd00;
    border-color: #84bd00;
    color: black;
    margin-top: 5px;
}


/* **FOOTER** */
#footer-container {
    color: white;
}

#footer-row {
    color: red;
}

#footer-div1 {
    color: deeppink;
}

#footer-div2 {
    color: deeppink;
}

#footer-div3 {
    color: deeppink;
}

#footer-div4 {
    color: deeppink;
}

.footer-ul {
    color: red;
}

.footer-li {
    color: red;
}

#optional-ul {
    color: chartreuse;
}

#opt-1 {
    color: yellow;
}

#opt-2 {
    color: yellow;
}

#opt-3 {
    color: yellow;
}

#social-ul {
    color: chartreuse;
}

#soc-1 {
    color: yellow;
}

#soc-2 {
    color: yellow;
}

#soc-3 {
    color: yellow;
}

#links-ul {
    color: chartreuse;
}

#link-1 {
    color: yellow;
}

#link-2 {
    color: yellow;
}

#link-3 {
    color: yellow;
}

#contact-ul {
    color: chartreuse;
}

#contact-1 {
    color: yellow;
}

#contact-2 {
    color: yellow;
}

#contact-3 {
    color: yellow;
}



