body {
    /* eliminate preformated spacing */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
  
container{
    width: 100%;   
}

/* The bumpers allow for spacing at top and/or bottom */
/* to compensate for phones which have buttons/cameras etc */
/* that block a portion of the screen. */
#bumper-top-container {
    color: darkorchid;
}
#bumper-top {
    color: black;
}

#bumper-btm-container {
    color: darkorange;
}

#bumper-btm {
    color: darkorange;
}


/* **HEADER** */
#header-container {
    color: white;
    margin-top: 5px;
}

#header-row {
    color: white;
}

#logo {
    align-items: center;
    background-color: white;
    color: white;
    border:solid white 10px;
    /* width: 100%; */
    /* Padding: 200px, 200px; */
} 

#header-spacer {
    color: white;
}

.header-nav {
    color: chocolate;
}

.navbar {
    color: crimson;
}

.nav-item {
    color: #FECC00;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color:#84bd00;
    padding: 8px,16px,8px,2px;
}

#navlnk1 {
    color:#84bd00;
}

#navlnk2 {
    color:#84bd00;
}

#navlnk3 {
    color:#84bd00;
}


/* **MAIN CONTENT** */
#content-container {
    color: white;
}

#content-row {
    color: white;
}

#splash {
    color: white;
}


/* **FORM** */
#form-container {
    color: white;
    align-items: center;
    justify-content: center;
}

#form-row {
    color: white;
    align-items: center;
    justify-content: center;
}

#form {
    color: white;
}
.form-header {
    color: #84bd00;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    /* color: #36A0FF; */
    color: #FECC00;
}
#fname {
    margin-bottom: 3px;
}

#lname {
    margin-bottom: 3px;
}

#email {
    margin-bottom: 3px;
}

#phone {
    margin-bottom: 3px;
}

#btn-form-submit {
    background-color: #84bd00;
    border-color: #84bd00;
    margin-top: 5px;
}


/* **FOOTER** */
#footer-container {
    color: white;
}

#footer-row {
    color: red;
}

#footer-div1 {
    color: deeppink;
}

#footer-div2 {
    color: deeppink;
}

#footer-div3 {
    color: deeppink;
}

#footer-div4 {
    color: deeppink;
}

.footer-ul {
    color: red;
}

.footer-li {
    color: red;
}

#optional-ul {
    color: chartreuse;
}

#opt-1 {
    color: yellow;
}

#opt-2 {
    color: yellow;
}

#opt-3 {
    color: yellow;
}

#social-ul {
    color: chartreuse;
}

#soc-1 {
    color: yellow;
}

#soc-2 {
    color: yellow;
}

#soc-3 {
    color: yellow;
}

#links-ul {
    color: chartreuse;
}

#link-1 {
    color: yellow;
}

#link-2 {
    color: yellow;
}

#link-3 {
    color: yellow;
}

#contact-ul {
    color: chartreuse;
}

#contact-1 {
    color: yellow;
}

#contact-2 {
    color: yellow;
}

#contact-3 {
    color: yellow;
}



